.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    background-color: #f1f5f9;
    box-shadow: 0 25px 60px rgba(202, 196, 196, 0.6);
    border-radius: 22px;
}

.app-icon{
  width:60px;
  height:60px;
  border-radius:15px;
  text-align: center;
  background: linear-gradient(135deg, #22d3ee, #16a34a);
  position:relative;
  box-shadow:
    0 25px 50px rgba(34,197,94,.45),
    inset 0 6px 8px rgba(255,255,255,.25),
    inset 0 -10px 14px rgba(0,0,0,.4);
}
.app-icon span{
  position:relative;
  z-index:2;
  font-size:28px;
  font-weight:800;
  color: #ffff;
  line-height:60px;
  display:inline-block;
  transform:skew(-8deg);
}
/* CRUNCH CUT SHAPE */
.app-icon::before{
  content:"";
  position:absolute;
  inset:10px;
  border-radius:10px;
  text-align: center;
  border:4px solid rgba(255,255,255,.85);
  transform:skew(-8deg);
}

/* GLOW EDGE */
.app-icon::after{
  content:"";
  position:absolute;
  inset:0;
  border-radius:32px;
  box-shadow:inset 0 0 0 2px rgba(255,255,255,.15);
}

.logo-img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

/* .icon-box::before {
    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 80%;
    background: linear-gradient(135deg, #22d3ee, #16a34a);
    opacity: 0.4;
    filter: blur(10px);
    z-index: -1;
    animation: glow 3s infinite;
} */

.logo-text {
    text-align: left;
    font-size: 28px;
    /* Adjusted for login card */
    font-weight: 900;
    color: #020617;
    animation: fadeTag 1.8s ease forwards;
    /* animation: slideText 1.4s ease forwards; */
}

.logo-text span {
    background: linear-gradient(135deg, #22d3ee, #16a34a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-tagline {
    font-size: 9px;
    letter-spacing: 1px;
    color: #414a58;
    margin-top: 2px;
    opacity: 0;
    animation: fadeTag 1.8s ease forwards;
    /* animation-delay: 1s; */
}

/* Animations kept from your original code */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes glow {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes slideText {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeTag {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}