.plan-header {
  background: linear-gradient(135deg, #22d3ee, #16a34a);
  color: #0f172a;
  padding: 15px 20px 15px 20px;
  display: flex;
  align-items: flex-start !important;
  justify-content: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.plan-avatar {
  width: 45px; height: 45px;
    background: rgba(255, 255, 255, 25%);
  backdrop-filter: blur(60px);
  border: 1px solid rgba(255,255,255,25%);  
  border-radius: 50%;
  font-size: 24px;
  margin: 0px;
  display: flex; align-items: center; justify-content: center;
  font-weight: bold;
}  

.plan-user-info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding: 2px 10px;
}
.plan-username {
    font-size: 20px;   
}
.plan-email {
    font-size: 12px;   
}
.plan-user-info, .plan-username, .plan-email {
    margin: 0px;
}
.plan-balance {
    margin-left: auto;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 2px 10px;
  border-radius: 5px;
  color: white;
  border: 1px solid rgba(255,255,255,0.1);
}
.plan-balance span {
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
}
.plan-content {
  padding: 20px;
}

.plan-card {
  background: linear-gradient(135deg, #ffffff 0%, #f8fafc 100%);
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    padding: 12px 20px;
      margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease;
}
.plan-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);  
}





.plan-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  color: #0f172a;
}

.percentage-badge {
  background-color: #e6f4ed;
  color: #108a50;
  padding: 4px 10px;
  border-radius: 7px;
  font-size: 12px;
  font-weight: 700;
}

.plan-duration {
  font-size: 13px;
  color: #64748b;
  margin: 0px 0 10px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.clock-icon {
  font-size: 12px;
}

.plan-details-grid {
  margin-bottom: 20px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
  font-size: 12px;
}

.detail-label {
  color: #64748b;
}

.detail-value {
  font-weight: 600;
}

/* Specific Value Colors */
.text-bold { color: #0f172a; }
.text-purple { color: #8b5cf6; }
.text-green { color: #108a50; }

.invest-now-btn {
  width: 100%;
  background: linear-gradient(135deg, #22d3ee, #16a34a); /* Primary green color */
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.invest-now-btn:active {
  transform: scale(0.97);
}