.profile-header {
  background: linear-gradient(135deg, #22d3ee, #16a34a);
  color: white;
  padding: 15px 20px 15px 20px;
  display: flex;
  align-items: flex-start !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.profile-avatar {
  width: 45px; height: 45px;
  background: rgba(255,255,255,0.2);
  border-radius: 50%;
  font-size: 24px;
  margin: 0px;
  display: flex; align-items: center; justify-content: center;
  font-weight: bold;
}  

.profile-user-info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding: 2px 10px;
}
.profile-username {
    font-size: 20px;   
}
.profile-email {
    font-size: 12px;   
}
.profile-user-info, .profile-username, .profile-email {
    margin: 0px;
}

.profile-buttons{
        background-color: #f1f5f9;
    border-radius: 3px;
    box-shadow: 12px rgba(0, 0, 0, 0.05);
    margin: 20px;
}
.profile-btn{
    background-color: #ffffff00;
    border: none;
    color: #0f172a;
    padding: 4px 12px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
}
.profile-btn:active, .profile-btn:hover{
    background-color: #ffffff;
}
.profile-content{
    padding: 20px;
}